# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=<secret-key>
TRELLO_KEY=<your trello key>
TRELLO_TOKEN=<your trello token>
TRELLO_BOARD_ID=<your board id>
TRELLO_TODO_LIST_ID = <the id of your todo column>
TRELLO_DONE_LIST_ID = <the id of your done column>
